<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sdu.gis"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        >
        <activity
            android:name=".ArcProjectActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.sdu.view.taskshow.TaskShowActivity" >
        </activity>
        <activity android:name="org.sdu.view.taskshow.TaskDetialShow" >
        </activity>
        <activity android:name="org.sdu.view.taskinput.TaskInputActivity" >
        </activity>
        <activity
            android:name="org.sdu.view.taskinput.DatePickActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity android:name="org.sdu.view.bugshow.BugShowActivity" >
        </activity>
        <activity android:name="org.sdu.view.buginput.BugInputActivity" >
        </activity>
        <activity android:name="org.sdu.dbaction.DBDebug" >
        </activity>
        <activity android:name="org.sdujq.map.MapShowActivity" >
        </activity>

        <activity android:name="org.sdu.view.taskshow.TaskShowActivity"></activity>
        <activity android:name="org.sdu.view.taskinput.TaskInputActivity"></activity>
        <activity android:name="org.sdu.view.bugshow.BugShowActivity"></activity>
        <activity android:name="org.sdu.view.buginput.BugInputActivity"></activity>
        <activity android:name="org.sdu.dbaction.DBDebug"></activity>
        <activity android:name="org.sdu.view.usermanager.AddUserActivity"></activity>
        <activity android:name="org.sdu.view.usermanager.LoginActivity"></activity>
        <activity android:name="org.sdu.view.usermanager.UserListActivity"></activity>
        <activity android:name="org.sdu.view.usermanager.UserInfoActivity"
            android:theme="@android:style/Theme.Dialog"></activity>
        <activity android:name="org.sdujq.map.Home"></activity>
        <activity android:name="org.sdujq.map.WhiteActivity"></activity>
        <activity android:name="org.sdujq.map.TabHomeActivity"></activity>
        <activity android:name="org.sdu.view.usermanager.AccountActivity"></activity>
    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

</manifest>